{% extends 'ecom/car_post_list.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ayouto</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{% static 'users/css/car_posts.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400" rel="stylesheet">
</head>
<body>

        <header>
            <div class="container">

                <img src="{% static 'users/imgs/logo.png' %}" alt="logo">

                <nav>
                    <ul>
                        <li><a href="/home">Home</a></li>
                        <li><a href="#">Cars For Sale</a></li>
                        <li><a href="/post_create">Sell Your Car</a></li>
                        <li><a href="#">Service</a></li>
                        <li><a href="/users/login">Sign In</a> </li>
                        <li><a href="/users/user_register">Sign Up</a></li>
                        <li><a href="/users/user_profile">My Profile</a></li>
                    </ul>
                </nav>
            </div>
        </header>

{% block content %}

    <div class="select2-container--classic">

     <p>

     </p>

    <div class="filter_container">

        <label>
            <select class="selector">
                <option value="Select" selected>Select Brand</option>
                <option value="AUDI">AUDI</option>
                <option value="BMW">BMW</option>
                <option value="MERCEDES" >MERCEDES</option>
            </select>
        </label>

        Years: <label><input size="5" type="text" name="Firstyear" value=""></label>-<label><input size="5" type="text" name="lastYear" value="2019"></label>
        Price: <label><input size="10" type="text" name="Firstyear" value="0"></label>-<label><input size="10" type="text" name="lastYear" value=""></label>
        Km: <label><input size="5" type="text" name="Firstyear" value="0"></label>-<label><input size="5" type="text" name="lastYear" value=""></label>

        <a style="text-decoration: none;" href="/home/search"><button  class="searchButton" type="submit">Search</button></a>

    </div>

        <div class="myDiv">
            <table class="myTable" cellpadding="30">

                <tr>
                    <th>Car</th>
                    <th>Model</th>
                    <th>Year</th>
                    <th>Description</th>
                    <th>Km</th>
                    <th>Price</th>
                </tr>


                <tr>
                    <td><a href="/post/1/"><img src="{% static 'users/imgs/bmw1.png' %}" width="150" height="90" ></a></td>
                    <td>Model</td>
                    <td>2019</td>
                    <td>NEW</td>
                    <td>0</td>
                    <td>200.000 TL</td>
                </tr>

                <tr>
                    <td><a href="/post/2/"><img src="{% static 'users/imgs/bmw2.png' %}" width="150" height="90"></a></td>
                    <td>Model</td>
                    <td>2018</td>

                    <td >
                        <p>REMAINDER OF FACTORY WARRANTY NAVIGATION/GPS REAR</p>
                        <p>BACKUP CAMERA BLUETOOTH HANDS FREE CELL PHONE</p>
                        <p>HEATED LEATHER SEATS POWER MOONROOF/SUNROOF POWER</p>
                        <p>LIFTGATE PUSH BUTTON START SPORT LINE BLIND SPOT</p>
                        <p>MONITOR POWER AND MEMORY SEATING DRIVER ASSISTANCE</p>
                    </td>

                    <td>46.000</td>
                    <td>185.000 TL</td>
                </tr>

                <tr>
                    <td><a href="/post/3/"><img src="{% static 'users/imgs/bmw3.png' %}" width="150" height="90"></a></td>
                    <td>Model</td>
                    <td>2017</td>

                    <td>
                        <p>NO DESCRIPTION AVAILABLE.</p>
                    </td>

                    <td>74.000</td>
                    <td>155.000 TL</td>
                </tr>

            </table>

        </div>

    </div>

{% endblock %}

</body>

