{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ayouto</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{% static 'users/css/base.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400" rel="stylesheet">
</head>
<body>
        <header>
            <div class="select2-container--default">

                <img src="{% static 'users/imgs/logo.png' %}" alt="logo">

                <nav>
                    <ul>
                        <li><a href="/home">Home</a></li>
                        <li><a href="#">Cars For Sale</a></li>
                        <li><a href="/post_create">Sell Your Car</a></li>
                        <li><a href="/users/login">Sign In</a> </li>
                        <li><a href="/users/user_register">Sign Up</a></li>
                        <li><a href="/users/user_profile">My Profile</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    {% block content %}
    {% endblock %}
</body>
</html>